{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Primary Meta Tags -->
  <meta name="title" content="Typenspeed - test your typing speed">
  <meta name="description" content="A Django based web app for testing your typing speed.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://typenspeed.ml/">
  <meta property="og:title" content="Typenspeed - test your typing speed">
  <meta property="og:description" content="A Django based web app for testing your typing speed.">
  <meta property="og:image" content="https://raw.githubusercontent.com/enigma71/type-n-speed/main/typenspeed/static/img/preview.png" />
  <meta property="og:image:secure_url" content="https://raw.githubusercontent.com/enigma71/type-n-speed/main/typenspeed/static/img/preview.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://typenspeed.ml/">
  <meta property="twitter:title" content="Typenspeed - test your typing speed">
  <meta property="twitter:description" content="A Django based web app for testing your typing speed.">
  <meta property="twitter:image" content="https://raw.githubusercontent.com/enigma71/type-n-speed/main/typenspeed/static/img/preview.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/normalize.min.css' %}">
  <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
  {% include 'fav.html' %}

  {% block head %}{% endblock head %}

</head>

<body>
  {% include 'site_preloader.html' %}
  {% include 'site_nav.html' %}

  {% block body %}

  {% endblock body %}
  {% include 'site_footer.html' %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  {% block homescripts %}
  {% endblock homescripts %}
</body>

</html>