    <footer class="footer pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="copy"> &copy; 2021 Enigma </div>
                </div>
                <div class="col-md-9">
                    <h3 class="footer-title">Let’s build something great together.</h3>
                    <div class="row mt-5">
                        <div class="col-md-4">
                            <h5>Start a conversation</h5>
                            <ul class="list-unstyled p-0">
                                <li class="#"><a href="mailto:contact@typenspeed.ml" target="_blank"
                                        data-bypass="">contact@typenspeed.ml</a>
                                    <br></li>
                                <li class="#"><a href="mailto:mail@shovon.me" target="_blank"
                                        data-bypass="">mail@shovon.me</a>
                                    <br></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Portfolio sites</h4>
                            <ul class="list-unstyled p-0">
                                <li class="#"> <a href="https://shovon.me" target="_blank">shovon.me</a></li>
                                <br> </li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h4>Quick links</h4>
                            <ul class="list-unstyled p-0">
                                <li class="#"><a href="mailto:contact@typenspeed.ml" target="_blank">Contact Us</a></li>
                                <li class="#"><a href="https://github.com/enigma71/type-n-speed" target="_blank">Source Code</a></li>
                                <li class="#"><a href="/about">About</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>