<header>
        <div class="container">
            <div class="row d-flex align-content-center">
                <div class="col-md-6">
                    <div class="headline">
                        <div class="headline-content">
                            <h2 class="headline-title display-4" style="margin-left: 80px;">About</h2>
                            <p class="headline-subtitle" style="margin-left: 80px;">Typenspeed is a web app for testing your typing speed. It is written in Django. Feel free to contact us!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="headline">
                        <div class="headline-content">
                        {% load static %}
                        <img width="300px" class="float-right" src = {% static 'img/undraw_meet_the_team_e5b7.svg' %} alt="Team" style="margin-right: 80px; margin-left: 80px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<header>
        <div class="container">
            <div class="row d-flex align-content-center">
                <div class="col-md-12 text-md-center" style="height: 250px;">
                    <div class="headline">
                        <div class="headline-content">
                            <p class="headline-subtitle">Meet</p>
                            <h2 class="headline-title display-4 " style="margin-bottom: 40px;">Team Enigma</h2>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        <div class="row">
		<div class="col-md-3 text-md-center">
        <img width="100px" class="float-right" src = {% static 'img/undraw_male_avatar_323b.svg' %} alt="shovon" style="padding-bottom: 80px; padding-left: 10px; "/> <h3 style="text-align: right;">Jubayer Ahmad Shovon</h3>
        <p style="text-align: right;">Team Lead<br>Full-Stack Dev</p>
		</div>
		<div class="col-md-3 text-md-center">
        <img width="100px" class="float-right" src = {% static 'img/undraw_male_avatar_323b.svg' %} alt="riaz" style="padding-bottom: 80px; padding-left: 10px; "/> <h3 style="text-align: right;">Riaz Ahammed</h3>
        <p style="text-align: right;">QA Lead</p>
		</div>
		<div class="col-md-3 text-md-center">
        <img width="100px" class="float-right" src = {% static 'img/undraw_male_avatar_323b.svg' %} alt="ssadman" style="padding-bottom: 80px; padding-left: 10px; "/> <h3 style="text-align: right;">Sadman  Sakib</h3>
        <p style="text-align: right;">Project Manager</p>
		</div>
		<div class="col-md-3 text-md-center">
        <img width="100px" class="float-right" src = {% static 'img/undraw_male_avatar_323b.svg' %} alt="azaz" style="padding-bottom: 80px; padding-left: 10px; "/> <h3 style="text-align: right;">Md Azaz Ahmed</h3>
        <p style="text-align: right;">Business Analyst</p>
		</div>
    </div>
</header>
