<header id="start_page">
    <div class="container">
        <div class="row d-flex align-content-center">
            <div class="col-md-7" style="height: 550px;padding-top: 20px;">
                <div class="headline">
                    <div class="headline-content">
                        <h1 class="headline-title display-3" style="text-align: left; margin-left: 80px; margin-right: 80px;">A typing speed
                            tester app</h1>
                        <p class="headline-subtitle">Enter yourname and press start...</p>
                        <br>
                        <form action='.' method='POST' id="friend_form"> {% csrf_token %}
                            {% load static %}
                            <input type='text' name='name' id="namebox" class="rounded-pill blackborder leftpadding"
                                placeholder='Enter Your Name' /><br><br>
                            <button type="submit" class="btn btn-primary rounded-pill" id="start_test_tg">
                                <img src={% static 'img/play-solid-w.svg' %} alt="Start" width="18" height="18"> Start
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5" style="height: 550px;padding-top: 20px;">
                <div class="headline">
                    <div class="headline-content">
                        <img height="300px" class="float-right" style="margin-right: 80px; margin-left: 80px;"
                            src={% static 'img/undraw_speed_test_wxl0.svg' %} alt="My Happy SVG" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

{% include 'site_speedtest.html' %}

{% include 'site_speedtest_result.html' %}