<header id="start_speedtest" style="display: none;">
  <div class="container" style="padding-top: 120px;">
    <div class="row d-flex align-content-center">
      <div class="col-md-8" style="height: 425px;">
        <link href='https://fonts.googleapis.com/css?family=Cutive+Mono|Roboto:400,900,700' rel='stylesheet'
          type='text/css' />
        <h1 id="output"></h1>
        <div class="target mono" id="target"></div>
        <div id="your-attempt" class="mono your-attempt" placeholder="Your text will appear here"></div>
        <div class="results">
          <ul class="stats">
            <li>Words per minute <span id="wpm">0</span></li>
            <li>Wordcount <span id="wordcount">0</span></li>
            <li>Timer <span id="timer">0</span></li>
            <li>Errors <span id="errors">0</span></li>
          </ul>
        </div>
        <hr style="clear:both;" />
        <div>
          <textarea name="" id="input_text" cols="30"
            rows="10">Suddenly quite near him there was a rifle shot. He heard the crack and smack and whistling ricochet among the rocks behind him. He dropped his torch and began feebly to trot.</textarea>
          <button type="button" class="btn btn-secondary rounded-pill" id="reset">
            {% load static %}
            <img src={% static 'img/reload-w.svg' %} alt="Reset" width="18" height="18">
            Reset
          </button>
        </div>

      </div>
      <div class="col-md-4" style="height: 425px;">
        {% load static %}
        <img width="300px" class="float-right" style="padding-top: 50px;"
          src={% static 'img/undraw_typewriter_i8xd.svg' %} alt="My Happy SVG" />
      </div>
    </div>
  </div>
  </div>
</header>